h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    line-height:2rem; 
    font-family: 'Cairo', sans-serif;
    word-wrap: break-word;
}

p{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.myIframe {
    position                  : relative;
    padding-bottom            : 25%;
    padding-top               : 30px;
    height                    : 0;
    overflow                  : auto;
    -webkit-overflow-scrolling: touch;
}
blockquote{
    font-family: 'Roboto', sans-serif;
}

.myIframe iframe {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 50%;
    height     : 100%;
    margin-left: 25%;
}

h1:hover{
    color: red;
}
h2:hover{
color: #383CC1;
}


@media only screen and (max-width: 480px) {
    .myIframe {
        position                  : relative;
        padding-bottom            : 50%;
        padding-top               : 30px;
        height                    : 0;
        overflow                  : auto;
        -webkit-overflow-scrolling: touch;
        /* border                 : solid black 1px; */
    }

    .myIframe iframe {
        position: absolute;
        top     : 0;
        left    : 0;
        width   : 100%;
        height  : 100%;
        margin  : 0;
    }
}

.image {
    width       : 100%;
    max-width   : 600px;
    height      : auto;
    display     : block;
    margin-left : auto;
    margin-right: auto;
}

body {
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h1{
color:#B4161B;
}
h2, h3{
    color:#5DA3FA;
}
h4,h5,h6{
    color:#B4161B;
}
footer{
    text-align: center;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none; 
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }